body {
    font-family: $font-main;
    background-color: $color-bg;
    padding-left: 10px;
    padding-bottom: 10px;
}

.main-title {
    font-family: $font-main;
    font-weight: bold;
    font-size: 30px;
    padding: 5px;
}

.input {
    width: 50vw;
    padding: 6px;
    border: 2px solid black;
}

.btn-reset-fav, .btn-search, .btn-reset {
    color: black;
    background-color: $color-secondary;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}


.hidden {
    display: none;
};

.main-lists {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 20px 1fr;
    gap: 20px;
}

.list{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    width: 68vw;
    grid-column: 2/3;
    grid-row: 2/3;
    border: 5px solid black ;
    gap: 5px;
    padding: 10px;
    align-content: space-around;
}

.favorite-list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    width: 24vw;
    grid-column: 1/2;
    grid-row: 2/3;
    border: 5px solid black;
    gap: 5px;
    padding: 10px;
    padding-left: 20px;
    
}

.favorite {
    background-color: $color-fav-secondary;
    color: $color-fav;
    border: 5px solid $color-fav;
}

.animes {
    width: 180px;
    text-align: center;
    font-family: $font-main;
    font-size: 16px;
    font-weight: 600;
}
.fav-anime {
    padding: 5px;
    border: 4px solid $color-fav-secondary;
}

.btn-delete-fav{
    height: 24px;
    width: 24px;
    text-align: center;
    border-radius: 50px;
    background-color: $color-fav;
    color: white;
    transform: translate(-90px, 10px);
    border: 1px solid $color-fav;

}

.image-animes{
    width: 100px;
    margin: 5px;
}
.anime-title {
    padding: 2px;
}

.fav-title{
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
    padding-top: 10px;
}

.search-title {    
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
    padding-top: 10px;
}


.btns-next-prev {
    text-align: center;
}
.btn-prev, .btn-next {
    margin-bottom: 10px;
}
.btn-prev {
    margin-right: 5px;
}
.btn-next {
    margin-left: 5px;
}

.btns {
    &:hover {
        color: white;
        background-color: $color-fav;
        cursor: pointer;
    }
}